*{
    body {
        font-family: Arial, sans-serif;
        background-image: url(1.jgp.jpg);
        width: -50%;
        height: -100px;
        margin: 0;
        padding: 0;
    }
    
    .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .h1{
        color: red;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-bottom: 10px;
    }
    
    input {
        padding: 10px;
        margin-bottom: 15px;
    }
    
    button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
    }
    .p1{
        color: red;

    }
    
    button:hover {
        background-color: #45a049;
    }
}
